<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite1" parallel = "tests" thread-count="1">
	<test name="test1">
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="base.CrossBrowser" />
		</classes>
	</test>
	
	<test name="test2">
		<parameter name="Browser" value="Edge" />
		<classes>
			<class name="base.CrossBrowser" />
		</classes>
	</test>
</suite>